@charset "utf-8";
html{
    font-size: 55%  ;
}
body{
    margin: 0;
    padding: 0;
}
.box{
    max-width: 720px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-size:3.5em;
    color: #bebec2;
}
p.head{
    width: 100%;
    height: 100px;
    margin-top: 0;
    background: url("../image/icon-location.png") #5ec0ce no-repeat;
    background-position: 95% 50%;
    text-align: center;
    vertical-align:top;
}
span.head1{
    display: inline-block;
    vertical-align:top;
    position:absolute;
    right: 50%;
    background-color: #55a7b2;
    border-radius:5%;
    color: #fff
}
span.head2{
    display: inline-block;
    vertical-align:top;
    position:absolute;
    left:50%;
    background-color: #fff;
    border-radius: 5%;
    color: #55a7b2;
}
p.head span{
    margin-top:3%;
    padding : 1%;
}
ul{
    padding: 0;
    width: 100%;
    list-style:none;
    font-size: 0.8em;
}
li{
    padding-bottom:1%;
    border-bottom: solid 1px #bebec2;
}
td.border-right{
    border-right: solid 1px #bebec2;
    width: 3%;
    text-align: center;
    position: relative;

}
.border-right span{
    position: absolute;
    right: 2%;
    bottom: 10%;
}

.table{
    width: 100%;

}
th.cell-right{
    text-align: right;
    width:50%;
    color:red;
    position: relative;
    right: 5%;
}
td.black{
    color: #000;
}
.footer{
    position:fixed;
    max-width: 720px;
    width: 100%;
    background-color: #ffffff;
    bottom: 0;
    font-size: 0.8em;
}
.f-left{
    float: left;
    margin-left:27%;
    text-align:center;
}
.f-center{
    background: url("../image/icon-pencil.png")  #5fc0cd no-repeat;
    background-position: 60% center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin-left:15%;

}
.f-right{
    float: left;
    margin-left:15%;
    text-align:center;
}
@media screen and (max-width: 480px) {
    html{
        font-size: 40%;
    }
    p.head {
        height: 55px;
    }
    .f-left{
        margin-left:20%;
    }

}

