.img {
    width: 100%;
}

img {
    max-width: 100%;
    display: block;
}

p {
    font-size: 2rem;
    color: black;
}

.p1 {
    padding-bottom: 5%;
}

.span1 {
    color: #26a26f;
}

.left {
    width: 20%;
    box-sizing: border-box;
    float: left;
    margin-left: 5%;
    border: 1px solid #cbcbcb;
    color: #26a26f;
    font-size: 1.6rem;
    line-height: 4rem;
    text-align: center;
    padding: 0 5%;
}

.left ul {
    margin-left: 2%;
}

.left li {
    list-style-type: none;
    text-align: left;
}

a {
    text-decoration: none;
    color: #26a26f;
}

.left li:hover a {
    color: #d3bbff;
}

.left li:hover .circle {
    background: #e6d6ff;
}

.left p {
    font-size: 2.5rem;
    text-align: center;
}

.circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(179, 168, 237, 0.59);
    border-radius: 50%;
    margin-right: 15%;
}

.right {
    width: 65%;
    float: left;
    margin-left: 5%;
    border: 1px solid #cbcbcb;
    color: #9a9a9a;
    font-size: 2rem;
    margin-bottom: 5%;
}

.top {
    width: 100%;
    float: left;
    padding-bottom: 2%;
    border-bottom: 1px solid #9a9a9a;
}

.tudou {
    width: 15%;
    float: left;
    margin-top: 5%;
    padding: 0 1%;
}

.tudou img {
    display: inline-block;
}

.introduce {
    width: 80%;
    float: left;
    margin-top: 2%
}

.content {
    clear: both;
    margin-top: 2%;
}

.content p {
    text-indent: 2em;
    padding: 1% 0;
}